*{
    margin: 0%;
    padding: 0%;
}
#contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;    
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
}
.jug{
    height: auto;
    margin: 3%;
    padding: 1% 10% 1% 6%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
    border-radius: 15px;
}
.ficha {
    width: 20px;
    height: 20px;
    border-radius:50%;
    border:solid black 1px;
}

#jugadoresMenu{
    padding: 5%;    
    grid-area: 1/1/2/2;
    display: grid;
}
#ramon{
    width: 100%;
}
#tablero{    
    grid-area: 1/2/3/3;
    background-color: blue;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.casilla{
    margin: 4%;
    border-radius: 3px;
    border: solid black 1px;
}
#reglas{
    z-index: 1;
    padding: 4%;
    grid-area: 1/2/3/3;
    background-color: red;
}
#controles{
    justify-content: center;
    align-items: center;
    grid-area: 2/1/3/2;
    background-color: green;
    display: grid;
}
#formJugadores,#formAgregarJugador, #formAgregarJugador>label{
    display: grid;
    justify-content: center;
}
#comenzar, #agregar{
    margin: 5%;
    border-radius: 10px;
}